{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to my vibrant world! I'm Dillon, a passionate individual with a deep love for anime, video games, comics, movies, books, coding, and traveling. Through this blog, I invite you to join me on an exhilarating journey as we explore the fascinating realms of these captivating mediums and discover the wonders of the world.</p>

<p>In the realm of anime, I find inspiration in the artistry and storytelling found within various series. From epic adventures to thought-provoking narratives, anime has a way of captivating our imaginations and touching our hearts. Join me as we discuss and dive into the captivating stories, intricate character development, and unique animation styles that make anime such a beloved form of entertainment.</p>

<p>Video games are another realm where I embark on thrilling quests, unraveling mysteries, and discovering hidden treasures. From immersive open-world experiences to competitive multiplayer challenges, the interactive nature of gaming allows us to actively participate in captivating narratives and explore breathtaking virtual landscapes. Let's journey together through the latest releases, engage in discussions, and celebrate the wonders of the gaming world.</p>

<p>Movies and books are gateways to captivating stories that transport us to new realms of imagination and emotion. From blockbusters to independent films, from fantasy novels to thought-provoking non-fiction, I enjoy exploring a wide range of cinematic and literary experiences. Let's engage in discussions, share recommendations, and celebrate the power of storytelling.</p>

<p>As a programmer, coding is not just a profession but a true passion of mine. The ability to bring ideas to life through elegant lines of code is a constant source of excitement and fulfillment. With expertise in Python, Java, and C++, I navigate the ever-evolving landscape of technology, constantly learning and pushing the boundaries of what's possible.</p>

<p>Traveling is another essential aspect of my life. Exploring new cultures, immersing myself in diverse landscapes, and embracing the beauty of the world fuels my sense of adventure. Through my blog, I'll share my travel experiences, tips, and reflections, inviting you to embark on virtual journeys alongside me.</p>

<p>Rooted in my diverse cultural background, with roots tracing back to Grenada, I deeply value the bond of family. My older sister serves as a constant source of inspiration, and my parents have been an unwavering pillar of support throughout my life's journey. Together, we share our home with two adorable companions: Milo, the ever-loyal dog, and Bambi, the mischievous and endearing cat.</p>

<p>As a recent graduate from the esteemed New York City College of Technology, armed with a bachelor's degree in technology in computer systems, I'm poised to make a mark as a programmer. With experience in building relational databases and RESTful web services, I'm on an exciting path toward becoming a well-rounded full-stack developer.</p>

<p>Through this blog, I aim to weave together my passions for anime, gaming, movies, books, coding, and traveling, offering a unique perspective on the intersection of technology, entertainment, and exploration. Join me as we embark on this extraordinary adventure, filled with creativity, innovation, and endless possibilities. Together, let's unlock the full potential of our passions and discover the vast horizons awaiting us.</p>



      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}