{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Meet Dillon, a passionate and dynamic individual with a strong affinity for anime, video games, and comics. With a deep love for the captivating world of Japanese animation, Dillon finds solace and inspiration in the epic tales of Naruto, while also appreciating the adventures found in Bleach and One Piece. When he's not immersed in his favorite anime series, Dillon enjoys exploring the virtual realms of video games, where he can embark on thrilling quests and challenges.</p>


<p>But Dillon's interests don't end with fictional worlds and virtual realities. He understands the importance of a healthy lifestyle and frequently visits the gym to stay active and maintain his physical well-being. This dedication to fitness reflects his determined and disciplined nature.</p>

<p>Hailing from a rich cultural background, Dillon's roots trace back to Grenada. He cherishes his close-knit family, which includes his older sister, a constant source of inspiration, as well as his loving and supportive parents, to whom he is incredibly grateful. Alongside his human companions, Dillon shares his home with two adorable pets—a loyal dog named Milo and a mischievous cat named Bambi.</p>

<p>With a recently obtained bachelor's degree in technology in computer systems from New York City College of Technology, Dillon has embarked on a promising career path as a programmer. Proficient in languages such as Python, Java, and C++, he possesses a versatile skill set that allows him to tackle various software development projects. Dillon's expertise also extends to working with relational databases and building RESTful web services. As a dedicated learner, he is constantly expanding his knowledge and striving to become a proficient full-stack developer.</p>

<p>Dillon's zest for life, coupled with his technical prowess, makes him a force to be reckoned with in the world of technology. Through his blog, he aims to share his experiences, insights, and expertise with fellow enthusiasts and aspiring developers. Join Dillon on his journey as he combines his passions for anime, gaming, and programming, weaving together a unique tapestry of creativity, innovation, and endless possibilities.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}